* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #014e56;
}
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 20px;
}
.container-links {
  display: flex;
  align-items: center;
  gap: 80px;
}
.container-links a {
  text-decoration: none;
  color: white;
  gap: 40px;
}
button {
  width: 88px;
  height: 28px;
}
